.chartContainer {
    margin-left: 5%;
    text-align: center;
  }
  
  .allCharts {
    display: flex;
    
  }
  .leftSide {
    margin: 20px;
  }
  .rightSide {
    margin: 20px;
  }
  .chartsBox {
    font-size: large;
    box-shadow: 0 4px 8px 0 #404040;
    padding: 90px;
    width: 350px;
    height: 20px;
    background: #fff;
    border-radius: 15px;
  }
  