.chartContainer {
    text-align: center;
  }
  
  .allCharts {
    display: flex;
  }
  .leftSide {
    margin-right: 10px;
    margin-left: 20px;
  }
  .rightSide {
    margin-right: 20px;
    margin-left: 10px;
  }
  .chartsBox {
    padding: 20px 100px 20px;
    margin: 15px;
    box-shadow: 0 4px 8px 0 #404040;
    background: #fff;
    border-radius: 15px;
    transition: 0.3s;
  }
  .chartsBox:hover {
    transform: scale(1.05);
  }
  