
.topNavBar {
    background-color: #a20e0e;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: flex-end;
  }
  
  .whiteLogo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

.topNavBar .nextDayBT{
    margin-left: 15px;
    margin-right: 25px;
    padding: 10px 10px;
    border-radius: 20px;
    border: none;
    background: #FFF;
    color: #A20E0E;
    display: inline-block;
}

.topNavBar .nextDayBT:active{
    transform:scale(0.9);
 }

.topNavBar .balance{
    padding: 10px 8px;
    border-radius: 20px;
    border-color: #F5F5F5;
    background: #404040;
    color: #FFF;
    display: inline-block;
}

.topNavBar .logoutBT{
    background-color: #A20E0E;
    border-radius: 50%;
    border: none;
}
.topNavBar .userIcon{
    background-color: #FFF;
    color: #A20E0E;
    border-radius: 50%;
    border: #404040;
    margin-right: 10px;
}
.topNavBar .userIcon:active{
   transform:scale(0.9);
}
