body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #404040;
}

.trialBox{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FFF;
  text-align: center;
  border-radius: 15px;
}



.trialBox input[type = "email"],.trialBox input[type = "password"]{
  
  border: 0;
  background: none;
  display: block;
  margin: 50px auto;
  border-bottom: 1px solid gray;
  padding: 5px 10px;
  width: 200 px;
  outline: none;
}

form .roundRectangle:hover{
  background-color: #F5F5F5;
  border: 1px solid #F5F5F5;
  color: #A20E0E;
}

form .roundRectangle{
  margin-top: 50px;
  padding: 10px 40px;
  border-radius: 20px;
  border: 1px solid #A20E0E;
  color: #FFF;
  background: #A20E0E;
  
  box-shadow: 0px 3px 10px 0px  #404040;
}

/** {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  montserrat, sans-serif;
  
}

input, button{
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #404040;
  
  
}

form {
  display: block;
  position: relative;
  
  
}

form::after {
  
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;

  z-index: 1;

}

form .formInner{
  
  border-radius: 15px;
  position: relative;
  display: block;
  background-color: #FFF;
  padding: 40px;
  z-index: 2;
  
}



form .formInner .formGroup{
  
  display: block;
  width: 300px;
  margin-bottom: 15px;
  
}

form .formInner .formGroup input{
  
  display: block;
  width: 100%;
  padding: 10px 25px;
  background-color: #FFF;
  border-radius: 8px;
  transition: 0.4s;
  
}

form .roundRectangle{
  
  padding: 10px 40px;
  border-radius: 20px;
  border: 1px solid #A20E0E;
  color: #FFF;
  background: #A20E0E;
  
  box-shadow: 0px 3px 10px 0px  #404040;
}*/